only-built-dependencies = ["better-sqlite3", "electron", "esbuild"]
electron_mirror = "https://npmmirror.com/mirrors/electron/"
electron_builder_binaries_mirror = "https://npmmirror.com/mirrors/electron-builder-binaries/"
